<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
     integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h3  id = "mainHeading">
        TODO App
    </h3>
    <form action="/Note/Create" method="POST">
        <div id = "desc">
            <label for="description" class = "myLabels">DESCRIPTION</label>
            <br>
            <textarea rows="2" name = "description"  class = "myInput" required placeholder="What do you need to do"></textarea>
        </div>

        <div id = "CategoryDateDiv">
            <div id = "category">
                <label for="category" class = "myLabels">CATEGORY</label>
                <br>
                <select name="category" required class = "myInput">
                    <option selected disabled hidden>Choose a category</option>
                    <option value= "Personal">Personal</option>
                    <option value= "Work">Work</option>
                    <option value="School">School</option>
                    <option value="Cleaning">Cleaning</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div id = "date">
                <label for="date" class = "myLabels">DUE DATE</label>
                <br>
                <input type="date" name="date" required class = "myInput" >
            </div>
        </div>
        <div class = "btnDiv">
            <button id = "addBtn" type="submit"><i class="fas fa-plus btnI"></i>ADD TASK</button>
        </div>
    </form>
    <form action="/Note/Delete" method="POST" id = "form2">
        <button id = "delBtn" type="submit"><i class="fas fa-trash-alt btnI"></i>DELETE TASKS</button>
        <% for (let i of notes_list){%>
            <div class = "myNotes">
                    <div id = "mainText">
                        <div id= "limitSize">
                            <input type="checkbox" name="id" value= <%=i._id%> >
                            <label for="note" class = "newDesc" id = "description">
                                <%= i.description%>
                            </label>
                        </div>
                        <label for="id" class = "newDesc">
                            <i class="fas fa-calendar-check cal"></i>
                            <%= i.date.toString().slice(4, 15) %>
                        </label>
                    </div>
                    <div id = "categoryDivs">
                        <div class = "category">
                            <label for="id" class = "newDesc catText">
                                <%= i.category%>
                            </label>
                        </div>
                        <div>
                            <a href="/Note/Edit">
                                <i id = "editor" class="fas fa-edit" name = "id" value = <%=i._id%> ></i>
                            </a>
                        </div>
                    </div>
                    
            </div>
        <%}%>
    </form>

</body>
</html>